name: Build and Deploy
on: [push, pull_request]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1 # If you're using actions/checkout@v2 you must set persist-credentials to false in most cases for the deployment to work correctly.
        with:
          persist-credentials: false

      - name: Dependencies
        run: |
          .github/workflows/dependencies/documentation.sh
          echo "Installing python packages for docs..."
          pip3 install sphinx sphinx_rtd_theme breathe

      - name: Build Doxygen Docs 
        run: |
          ./build_doxygen_docs.sh

      - name: Install and Build
        run: |
          cd Docs
          echo "Build the Sphinx documentation for AMReX-Hydro."
          ## build latex pdf -- disabled due to conflict with predefined math expressions in rst files
          #make latexpdf
          #mv build/latex/amrex-hydro.pdf source/
          make html

      - name: Deploy
        if: github.event_name == 'push' && github.repository == 'AMReX-Codes/AMReX-Hydro' && github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACCESS_TOKEN: ${{ secrets.DEPLOY_DOCS_HYDRO }}
          REPOSITORY_NAME: AMReX-Codes/AMReX-Codes.github.io
          BRANCH: main # The branch the action should deploy to.
          FOLDER: Docs/build/html # The folder the action should deploy.
          TARGET_FOLDER: amrex/hydro_html # The folder the action should deploy to.
          CLEAN: false # Do not remove existing files from the deploy target.

      - name: Deploy Doxygen
        if: github.event_name == 'push' && github.repository == 'AMReX-Codes/AMReX-Hydro' && github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACCESS_TOKEN: ${{ secrets.DEPLOY_DOCS_HYDRO }}
          REPOSITORY_NAME: AMReX-Codes/AMReX-Codes.github.io
          BRANCH: main # The branch the action should deploy to.
          FOLDER: Docs/Doxygen/html # The folder the action should deploy.
          TARGET_FOLDER: amrex-hydro/Doxygen/html # The folder the action should deploy to.
          CLEAN: false # Do not remove existing files from the deploy target.

